元データがあるGitHub

https://github.com/AFAgarap/ecommerce-reviews-analysis

In [1]:
import pandas as pd

In [4]:
#  元データの読み込み
df_origin = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
df_origin.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [20]:
df_origin.shape

(23486, 11)

In [36]:
df_origin.rename(columns={'Review Text': 'Review'}, inplace=True)
df_origin.head()

,Unnamed: 0,Clothing ID,Age,Title,Review,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [6]:
# 受講生に配布するtestデータの読み込み
df_test = pd.read_csv('test_Day3.csv')
df_test.head()

,ID,Age,Title,Title_ja,Review,Review_ja,Rating,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,56,"Pretty, femine",プリティ、フェミニン,"I really like the dress, the material, the pri...",素材、プリント、プリーツスカートなど、とても楽しいドレスです。しかし、ネックラインが少し低め...,3,3,General Petite,Dresses,Dresses
1,1,41,NaN,NaN,"Love the quality of this material, and how the...",この素材の質感と、背中のラインが気に入っています。Sサイズが売り切れていたので、Mサイズのプ...,5,2,General Petite,Tops,Fine gauge
2,2,31,Even prettier in person,実物はもっときれい,I purchased the purple motif in petite size sm...,パープルのモチーフのプチサイズSを購入しました。私にはちょうどいい長さですが、これ以上胸が大...,5,2,General,Tops,Knits
3,3,29,Beautiful top!,美しいトップス,Wow im really glad i didn't listen to the nega...,このような場合、私は、このような場合、私は、このような場合、私は、このような場合、私は、この...,5,1,General,Tops,Knits
4,4,52,Very pretty,とてもきれい,"True to size, very pretty. as pictured expect...",写真通りですが、もっとピーチっぽく、こんなに明るくないです。,5,0,Initmates,Intimate,Intimates

In [27]:
df_test.shape

(200, 11)

In [47]:
df_train = pd.read_csv('train_Day3.csv')
df_train.head()

,ID,Age,Title,Title_ja,Review,Review_ja,Rating,Positive Feedback Count,Division Name,Department Name,Class Name,Recommended IND
0,0,57,Unique,ユニーク,"Just received and sorry to return. i am 5'9"" i...",私は170センチで、サイズ8を着用し、M/Lを注文しました。,4,1,General Petite,Jackets,Jackets,0
1,1,60,Simple beauty,シンプルな美しさ,This is a tts basic tee with the added flare o...,TTSのベーシックなTシャツに、フリルのついたバックペプラムとビーズのついたフロントネックの...,5,3,General Petite,Tops,Knits,0
2,2,35,Love this top!,このトップスが好き!,I am very happy with this shirt. i don't like ...,このシャツにとても満足しています。私は肌にぴったりした服が好きではありません。このトップは少...,5,0,General,Tops,Knits,0
3,3,45,NaN,NaN,"Really flattering cut, this shirt is perfect f...",このシャツは、秋にぴったりです。,5,0,General Petite,Tops,Blouses,0
4,4,56,NaN,NaN,Love the fabric & lace on this top. like other...,他の方のレビューにあるように、腕の部分がレースと生地の境目できつく、着心地が悪くなっています。,4,0,General,Tops,Blouses,0

In [37]:
df_origin.columns, df_test.columns

(Index(['Unnamed: 0', 'Clothing ID', 'Age', 'Title', 'Review', 'Rating',
        'Recommended IND', 'Positive Feedback Count', 'Division Name',
        'Department Name', 'Class Name'],
       dtype='object'),
 Index(['ID', 'Age', 'Title', 'Title_ja', 'Review', 'Review_ja', 'Rating',
        'Positive Feedback Count', 'Division Name', 'Department Name',
        'Class Name'],
       dtype='object'))

In [38]:
# df_origin と df_test で共通のカラムを抽出
common_columns = list(set(df_origin.columns) & set(df_test.columns))
common_columns

['Title',
 'Age',
 'Review',
 'Rating',
 'Division Name',
 'Department Name',
 'Class Name',
 'Positive Feedback Count']

In [51]:
df_test_with_target = df_origin.merge(df_test, on=common_columns, how='right')
df_test_with_target.head()

,Unnamed: 0,Clothing ID,Age,Title,Review,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,ID,Title_ja,Review_ja
0,2817,1084,56,"Pretty, femine","I really like the dress, the material, the pri...",3,1,3,General Petite,Dresses,Dresses,0,プリティ、フェミニン,素材、プリント、プリーツスカートなど、とても楽しいドレスです。しかし、ネックラインが少し低め...
1,7455,907,41,NaN,"Love the quality of this material, and how the...",5,1,2,General Petite,Tops,Fine gauge,1,NaN,この素材の質感と、背中のラインが気に入っています。Sサイズが売り切れていたので、Mサイズのプ...
2,5960,873,31,Even prettier in person,I purchased the purple motif in petite size sm...,5,1,2,General,Tops,Knits,2,実物はもっときれい,パープルのモチーフのプチサイズSを購入しました。私にはちょうどいい長さですが、これ以上胸が大...
3,1797,867,29,Beautiful top!,Wow im really glad i didn't listen to the nega...,5,1,1,General,Tops,Knits,3,美しいトップス,このような場合、私は、このような場合、私は、このような場合、私は、このような場合、私は、この...
4,8955,760,52,Very pretty,"True to size, very pretty. as pictured expect...",5,1,0,Initmates,Intimate,Intimates,4,とてもきれい,写真通りですが、もっとピーチっぽく、こんなに明るくないです。

In [40]:
df_test_with_target.tail()

,Unnamed: 0,Clothing ID,Age,Title,Review,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,ID,Title_ja,Review_ja
204,1992,831,64,Gorgeous spring blouse!,"So stunning, i had to have it for my spring wa...",5,1,3,General,Tops,Blouses,195,華やかな春のブラウス!,とても魅力的で、私の春のワードローブには欠かせません！サイズはジャストで、バストはぴったり、...
205,14526,1035,30,Super cute!,"Okay, these are seriously the cutest black jea...",5,1,0,General,Bottoms,Jeans,196,超かわいい!,確かに、色は少しにじみますが（前のレビューにあったように）、ブラックジーンズなのです。\r\...
206,16687,818,66,Fab versitile top,Love! love! love! this top! i saw this online ...,5,1,1,General,Tops,Blouses,197,ファブ・バーサタイル・トップ,シンプルで、パンツにもスカートにも合わせやすい。袖口からランダムに糸が垂れていたのが気になり...
207,2462,872,58,NaN,More of a blouse than a tee because of the fab...,5,1,14,General,Tops,Knits,198,NaN,このような場合、私は、このような場合、私は、このような場合、私は、このような場合、私は、この...
208,5169,881,34,Great top!,"I bought the m/l (5'4"",130lb) and love the way...",5,1,0,General Petite,Tops,Knits,199,素晴らしいトップスです。,"m/lを購入しました（170cm,130lb）。丈の長さといい、薄手のトップスの上に着られる..."

In [41]:
df_test_with_target.shape

(209, 14)

In [42]:
df_test_with_target['ID'].value_counts()

46     7
87     4
0      1
128    1
129    1
      ..
69     1
70     1
71     1
72     1
199    1
Name: ID, Length: 200, dtype: int64

In [49]:
df_test_with_target[df_test_with_target['ID'] == 46]

,ID,Age,Title,Title_ja,Review,Review_ja,Rating,Positive Feedback Count,Division Name,Department Name,Class Name
46,46,39,NaN,NaN,NaN,NaN,5,0,General,Dresses,Dresses
47,46,39,NaN,NaN,NaN,NaN,5,0,General,Dresses,Dresses
48,46,39,NaN,NaN,NaN,NaN,5,0,General,Dresses,Dresses
49,46,39,NaN,NaN,NaN,NaN,5,0,General,Dresses,Dresses
50,46,39,NaN,NaN,NaN,NaN,5,0,General,Dresses,Dresses
51,46,39,NaN,NaN,NaN,NaN,5,0,General,Dresses,Dresses
52,46,39,NaN,NaN,NaN,NaN,5,0,General,Dresses,Dresses

In [44]:
df_test_with_target[df_test_with_target['ID'] == 87]

,Unnamed: 0,Clothing ID,Age,Title,Review,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,ID,Title_ja,Review_ja
93,9366,863,52,NaN,NaN,5,1,0,General,Tops,Knits,87,NaN,NaN
94,15719,865,52,NaN,NaN,5,1,0,General,Tops,Knits,87,NaN,NaN
95,19435,873,52,NaN,NaN,5,1,0,General,Tops,Knits,87,NaN,NaN
96,23301,862,52,NaN,NaN,5,1,0,General,Tops,Knits,87,NaN,NaN

In [52]:
df_test_with_target = df_test_with_target[df_train.columns]
df_test_with_target.head()

,ID,Age,Title,Title_ja,Review,Review_ja,Rating,Positive Feedback Count,Division Name,Department Name,Class Name,Recommended IND
0,0,56,"Pretty, femine",プリティ、フェミニン,"I really like the dress, the material, the pri...",素材、プリント、プリーツスカートなど、とても楽しいドレスです。しかし、ネックラインが少し低め...,3,3,General Petite,Dresses,Dresses,1
1,1,41,NaN,NaN,"Love the quality of this material, and how the...",この素材の質感と、背中のラインが気に入っています。Sサイズが売り切れていたので、Mサイズのプ...,5,2,General Petite,Tops,Fine gauge,1
2,2,31,Even prettier in person,実物はもっときれい,I purchased the purple motif in petite size sm...,パープルのモチーフのプチサイズSを購入しました。私にはちょうどいい長さですが、これ以上胸が大...,5,2,General,Tops,Knits,1
3,3,29,Beautiful top!,美しいトップス,Wow im really glad i didn't listen to the nega...,このような場合、私は、このような場合、私は、このような場合、私は、このような場合、私は、この...,5,1,General,Tops,Knits,1
4,4,52,Very pretty,とてもきれい,"True to size, very pretty. as pictured expect...",写真通りですが、もっとピーチっぽく、こんなに明るくないです。,5,0,Initmates,Intimate,Intimates,1

In [53]:
# 重複業の削除
df_test_with_target.drop_duplicates(inplace=True)
df_test_with_target.shape

(200, 12)

In [54]:
df_test_with_target.to_csv('test_Day3_with_target.csv', index=False)

In [55]:
df_test_answer = df_test_with_target[['Recommended IND']]
df_test_answer.to_csv('submission_answer.csv', index=False)